
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Cal+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container{
    text-align: center;
    font-size: 40px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    justify-content: center;
    color: #fff;
    text-shadow: rgb(0, 0, 0) 2px 2px 4px;
}

.metricas{
    padding: 0 10px;
}


/******/

/* .overlay-contador {
    position: fixed;
    width: 90%;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-family: sans-serif;
    z-index: 1000;
}

.contenedor-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nombre {
    font-weight: bold;
    text-align: center;
    min-width: 100px;
}

.contenedor-resultados {
    display: flex;
    align-items: center;
    gap: 10px;
}

.resultado {
    font-size: 1.5em;
    min-width: 40px;
    text-align: center;
}

.separador {
    font-size: 1.5em;
} */

/* Opcional: Ajusta el ancho total del overlay si es necesario */
